*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0.25turn, #2E9AFF, #FFD829);
}

.todo {
    width: 640px;
    min-height: 120px;
    background:#fff;
    border-radius: 70px;
    margin: 100px auto;
    padding-bottom: 30px;
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 25px;
    margin: 10px 10px;
}

h2 {
    position: relative;
    text-align: center;
    padding-top: 12px;
    background: linear-gradient(25deg, #2E9AFF, #FFD829);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

input {
    /* flex: 1; */
    width: 450px;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 15px;
    font-size: 15px;
}
.checked {
    color: #555;
    text-decoration: line-through;
}

.text {
    cursor: pointer;
}

.add {
    width: 120px;
    border: none;
    outline: none;
    padding: 16px 30px;
    background:#d6b210;
    color: #fff;
    font-size: 17px;
    border-radius: 25px;
    cursor: pointer;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#d6b210;
    color: #fff;
    font-size: 17px;
    border-radius: 25px;
    cursor: pointer;
}

.tasks .task {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 15px;
}

.alert {
    display: none;
    top: -6%;
    left: 46.5%;
    transform: translateX(-50%);
    position: absolute;
    width: 150px;
    height: 60px;
    background: linear-gradient(25deg, #FFD829, #2E9AFF);
    border-radius: 70px;
    animation: ani 0.1s forwards;
    cursor: pointer;
}

@keyframes ani {
    0% {transform: translateX(0);}
  100% {transform: translateY(130%);}
}
.alert h2 {
    color: #fff;
    font-size: 17px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.pan {
    margin-right: 40px;
}
.remove {
    margin-left: 1px;
}
.edit {
    width: 30px;
    height: 30px;
    background: #fff;
    padding: 5px 5px;
    font-size: 15px;
    color: #555;
}
.edit:hover {
    background: #edeef0;
}
.remove {
    width: 30px;
    height: 30px;
    font-size: 15px;
    padding: 5px 5px;
    color:#555;
    background: #fff;

}
.remove:hover {
    background: #edeef0;
}
.favorite {
    width: 30px;
    height: 30px;
    background: #fff;
    padding: 5px 5px;
    font-size: 15px;
    color: #555;
}
.favorite:hover {
    background: #edeef0;
}

.active {
    color: #FFD829;
}

.checkbox {
    font-size: 30px;
    color: #555;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.checkyes {
    color: #FFD829;
}

@media (max-width:320px) {
    .container {
        width: 320px;
    }

    .todo {
        width: 310px;
    }

    .content {
        width: 300px;
        height: 40px;
    }
    .tasks .task {
        width: 270px;
        height: 40px;
        flex-direction: column;
    }

    .actions {
        padding-left: 90px;
    }
    
    .add {
        width: 110px;
        padding: 15px 10px;
        font-size: 13px;
    }

    .input {
        width: 280px;
        font-size: 14px;
    }

    .input-row {
        width: 290px;
    }

    .checkbox {
        font-size: 25px;
    }

    .alert {
        top: -9%;
        left: 26.5%;
    }
}

@media (max-width:375px) {
    .container {
        width: 375px;
    }

    .todo {
        width: 370px;
    }

    .content {
        width: 260px;
        height: 40px;
    }
    .tasks .task {
        width: 270px;
        height: 40px;
    }

    .actions {
        display: flex;
    }
    
    .add {
        width: 110px;
        padding: 15px 10px;
        font-size: 14px;
    }

    .input {
        width: 280px;
        font-size: 14px;
    }

    .input-row {
        width: 350px;
    }

    .checkbox {
        font-size: 25px;
    }

    .alert {
        top: -9%;
        left: 30.5%;
    }
}

@media (max-width:425px) {
    .container {
        width: 425px;
    }

    .todo {
        width: 370px;
    }

    .content {
        width: 260px;
        height: 40px;
    }
    .tasks .task {
        width: 270px;
        height: 40px;
    }

    .actions {
        display: flex;
    }
    
    .add {
        width: 110px;
        padding: 15px 10px;
        font-size: 14px;
    }

    .input {
        width: 280px;
        font-size: 14px;
    }

    .input-row {
        width: 350px;
    }

    .checkbox {
        font-size: 25px;
    }

    .alert {
        top: -9%;
        left: 33.5%;
    }
}